h1 {
    font-family: sans-serif;
    font-size: 3rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

h1::before {
    content: 'Mohammed ';
    display: inline-block;
    width: 0%;
    overflow: hidden;
    transition: 1s ease-in;
    color: slategray;
    text-align: right;
}

h1::after {
    content: 'binMashood';
    display: inline-block;
    width: 0%;
    overflow: hidden;
    transition: 1s ease-in;
    color: slategrey;
}

h1:hover::before {
    width: 9em;
}

h1:hover::after {
    width: 10em;
}