body {
    background-color: #011627;
}

nav {
    height: 80px;
    align-items: center;
    min-width: 600px;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: auto;
}

a {
    position: relative;
    text-decoration: none;
    color: #F1F2F2;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0 10px;
}


a:after {
    content: "";
    position: absolute;
    background-color: #71cef2;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;

    
}

a:hover {
    color: #71cef2;
}

a:hover:after {
    width: 100%;
}